<h1>{{title}}</h1>

<button (click)="getAllData()">Aktualisieren</button>


<ul>
    <li *ngFor="let device of  devices ">

        <div *ngIf="device.sensor" [class.offline]="!device.online" class="sensor-container">


            <h2 *ngIf="device.place">{{device.place}}</h2>
            <h2 *ngIf="!device.place">{{device.name}}</h2>

            <div class="row">
                <!-- Temperature -->
                <div class="col temp">
                    <span class="value">{{device.temperature}}</span>
                    <span class="unit">°C</span>
                </div>

                <!-- Humidity -->
                <div class="col humi">
                    <span class="value">{{device.humidity}}</span>
                    <span class="unit">%</span>
                </div>

            </div>
        </div>

    </li>
</ul>
