.row {
  display: flex;

}

.col {
  margin-right: 20px;
}

.sensor-container {
  border: 1px solid silver;
  margin: 20px;
  padding: 20px;

  h2 {
    margin: 0 0 20px 0;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}
