@import "../../colors";

.on {
  background-color: #00e046;
}

.error {
  background-color: #e0595f;
}

.off {
  background-color: #ded7d9;

}

.devices-list {
  margin: 0;
  padding: 0;
}

.devices-list-item {
  list-style: none;
  border-bottom: 1px solid $color-border;
  margin: 0;
  padding: 0;
}


.item-timer,
.item-power,
.item-name,
.item-sensor {
  margin: 0 5px;
  display: inline-block;
  text-align: center;
}


.item-timer {
  padding: 2px;
  margin: 0 5px;
  cursor: pointer;
}

.item-power {
  cursor: pointer;

}

.item-name {
  min-width: 200px;
  text-align: left;
  border: none;
}

.item-sensor {
  cursor: pointer;

}

.container-sensor {
  z-index: -10;
}


.item-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}


.row {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 10px 0;
}

.col {
  display: flex;
  align-items: center;

}


// Sensors
// ====================

.sensor-value {
font-size: 25px;
}

.sensor-unit {
  margin-top: 0;
}

