<h1>{{title}}</h1>


<h2 (click)="toggleAllDevices()">All Lights ({{allDevicesStatus}})</h2>

<ul class="devices-list">
    <li class="devices-list-item" *ngFor="let device of devices">
        <div class="item-container">
            <!-- timer -->
            <span class="item-timer"

                  [class.on]="device.timer === true"
                  [class.off]="device.timer === false"

                  (click)="toggleTimer(device)">

            {{device.timerIcon}}
        </span>

            <!-- power -->
            <span class="item-power"

                  [class.on]="device.power === true"
                  [class.off]="device.power === false"

                  (click)="togglePower(device)">
            {{device.powerIcon}}
        </span>

            <!-- name -->
            <span class="item-name">
            {{device.name}}
        </span>

            <!-- sensor -->
            <span *ngIf="device.sensor" class="item-sensor"

                  (click)="toggleDetails(device)">
            {{device.sensorIcon}}
        </span>
        </div>


        <!-- sensors -->
        <div *ngIf="device.sensor"
             [@openClose]="device.sensorDetails ? 'open' : 'closed'"
             class="container-sensor"
        >
            <!-- temperature-->
            <div class="item-temperature">
                {{device.temperature}}
            </div>

            <!-- humidity -->
            <div class="item-humidity">
                {{device.humidity}}
            </div>

        </div>
    </li>
</ul>
