<!-- Header -->
<div class="header">
    <h1>{{title}}</h1>
</div>


<!-- Main -->
<div class="main">

    <div class="main-icon">

        <div (click)="togglePowerAll()">
            <div *ngIf="!powerStatusAllDevices">
                <div class="icon">
                    <img src="../../assets/images/icon/power/lightbulb-off.svg" alt="">
                </div>
            </div>

            <div *ngIf="powerStatusAllDevices">
                <div class="icon">
                    <img src="../../assets/images/icon/power/lightbulb-on.svg" alt="">
                </div>
            </div>
        </div>
    </div>


    <ul class="devices-list">
        <li class="devices-list-item" *ngFor="let device of devices">
            <div class="item-container" [class.offline]="!device.online">
                <!-- timer -->
                <div class="item-timer"

                     (click)="toggleTimer(device)">

                    <!-- Timer ON -->
                    <div *ngIf="device.timer === true">
                        <div class="icon small">
                            <img src="../../assets/images/icon/timer/clock-on.svg" alt="">
                        </div>
                    </div>

                    <!-- Timer Off -->
                    <div *ngIf="device.timer === false">
                        <div class="icon small">
                            <img src="../../assets/images/icon/timer/clock-off.svg" alt="">
                        </div>
                    </div>

                </div>

                <!-- power -->
                <div class="item-power"


                     (click)="togglePower(device)">

                    <!-- Power ON -->
                    <div *ngIf="device.power === true">
                        <div class="icon medium">
                            <img src="../../assets/images/icon/power/lightbulb-on.svg" alt="">
                        </div>
                    </div>

                    <!-- Power Off -->
                    <div *ngIf="device.power === false">
                        <div class="icon medium">
                            <img src="../../assets/images/icon/power/lightbulb-off.svg" alt="">
                        </div>
                    </div>

                </div>

                <!-- name -->
                <div class="item-name">
                    {{device.name}}
                </div>

                <!-- sensor -->
                <div *ngIf="device.sensor" class="item-sensor"
                     (click)="toggleDetails(device)">
                    <div class="icon small">
                        <img src="../../assets/images/icon/sensor/sensor.svg" alt="">
                    </div>
                </div>
            </div>


            <!-- sensors -->
            <div class="container-sensor" *ngIf="device.sensor"
                 [@openClose]="device.sensorDetails ? 'open' : 'closed'"
            >

                <div class="row">
                    <!-- Temperature -->
                    <div class="col temp">
                        <span class="value">{{device.temperature}}</span>
                        <span class="unit">°C</span>
                    </div>

                    <!-- Humidity -->
                    <div class="col humi">
                        <span class="value">{{device.humidity}}</span>
                        <span class="unit">%</span>
                    </div>
                </div>

            </div>
        </li>
    </ul>

</div>

<!-- Debug -->
<div class="debug" [class.active]="debug">
    <div>
        <div>{{power}}</div>
        <div>{{sensor}}</div>
    </div>
</div>

<!-- Footer -->
<div class="footer">

</div>

