@import "../../colors";

.on {
  background-color: #00e046;
}

.error {
  background-color: #e0595f;
}

.off {
  background-color: #ded7d9;

}

.devices-list {
  margin: 0;
  padding: 0;
}

.devices-list-item {
  list-style: none;
  border-bottom: 1px solid $color-border;
  margin: 0;
  padding: 0;
}


ul {
  margin: 0;
  padding: 0;
  width: 90%;
}

li {
  margin: 0;
  padding: 0;
}

.item-timer,
.item-power,
.item-name,
.item-sensor {
  margin: 0 5px;
  text-align: center;
}


.item-timer {
  padding: 2px;
  margin: 0 5px;
  cursor: pointer;
}

.item-power {
  cursor: pointer;

}

.item-name {
  width: 100%;
  text-align: left;
}

.item-sensor {
  justify-self: flex-end;
  cursor: pointer;

  &:hover {
    color: $color-accent;
  }

  &:active {
    color: black;
  }

}


.item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}


.row {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 10px 0;
}

.col {
  display: flex;
  align-items: center;

}


// Sensors
// ====================

.sensor-value {
  font-size: 25px;
}

.sensor-unit {
  margin-top: 0;
}


.timers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px auto;
  margin: 40px;
  color: $color-label;

  span {
    margin-right: 10px;
  }
}


.reload-timers {
  color: $color-label;
  cursor: pointer;

  &:hover {
    color: $color-accent;
  }

  &:active {
    color: $color-text;
  }
}