<div>
    <h1>
        {{ title }}
    </h1>
</div>

<div style="text-align:center">
    <fa-icon [icon]="faLightbulbOn"></fa-icon>
</div>

<!-- nav -->
<ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/licht">Licht</a></li>
    <li><a routerLink="/timer">Timer</a></li>
    <li><a routerLink="/sensoren">Sensoren</a></li>
    <li><a routerLink="/sandbox">Sandbox</a></li>
    <li><a routerLink="/mqtt-sandbox">MQTT Sandbox</a></li>
</ul>


<!-- Views -->
<router-outlet></router-outlet>
