

.main {

}

.row {
  display: flex;
  margin: 20px;
}



.time{
  font-size: 25px;
}


.container-edit {
  display: none;

  &.show {
    display: inline;
  }
}

.container-display {
  display: block;

  &.hide {
    display: none;
  }
}


.timer-label{
  width: 150px;
}


