<!-- Header -->
<div class="header">

    <div class="header-icon">
        <div (click)="toggleTimer()">

            <!-- Timer ON -->
            <div *ngIf="globalTimerArm === 1">
                <div class="icon">
                    <img src="../../assets/images/icon/timer/clock-on.svg" alt="">
                </div>
            </div>

            <!-- Timer Off -->
            <div *ngIf="globalTimerArm === 0">
                <div class="icon">
                    <img src="../../assets/images/icon/timer/clock-off.svg" alt="">
                </div>
            </div>

            <p class="timer-status">{{timerStatus}}</p>
        </div>
    </div>
</div>

<!-- Main -->
<div class="main">

    <div>
        <div class="row">
            <div class="timer-label"><span class="label">{{powerOnLabel}}</span></div>

            <!-- Time Display -->
            <div class="container-display" [class.hide]="powerOnEdit">
                <div class="time" (click)="powerOnEditToggle('on')">{{sonoffTimers[0].Time}}</div>
            </div>
            <!-- Time Edit -->
            <div class="container-edit" [class.show]="powerOnEdit">
                <input type="time" pattern="[0-9]{2}:[0-9]{2}" [(ngModel)]="sonoffTimers[0].Time" placeholder="Time">

                <button (click)="setTimers('on')">OK</button>

            </div>


        </div>

        <div class="row">
            <div class="timer-label"><span class="label">{{powerOffLabel}}</span></div>

            <!-- Time Display -->
            <div class="container-display" [class.hide]="powerOffEdit">
                <div class="time" (click)="powerOffEditToggle()">{{sonoffTimers[1].Time}}</div>
            </div>

            <!-- Time Edit -->
            <div class="container-edit" [class.show]="powerOffEdit">
                <input type="time" pattern="[0-9]{2}:[0-9]{2}" [(ngModel)]="sonoffTimers[1].Time" placeholder="Time">
                <button (click)="setTimers('off')">OK</button>

            </div>
        </div>
    </div>
</div>

<!-- Debug -->
<div class="debug" [class.active]="debug">

    <div class="row">
        <div class="debug-item">

            <h5>Timer JSON ON</h5>

            <table class="debug-table">
                <tr>
                    <th>Arm</th>
                    <td>{{sonoffTimers[0].Arm}}</td>
                </tr>

                <tr>
                    <th>Mode</th>
                    <td>{{sonoffTimers[0].Mode}}</td>
                </tr>

                <tr>
                    <th>Time</th>
                    <td>{{sonoffTimers[0].Time}}</td>
                </tr>

                <tr>
                    <th>Window</th>
                    <td>{{sonoffTimers[0].Window}}</td>
                </tr>

                <tr>
                    <th>Days</th>
                    <td>{{sonoffTimers[0].Days}}</td>
                </tr>

                <tr>
                    <th>Repeat</th>
                    <td>{{sonoffTimers[0].Repeat}}</td>
                </tr>

                <tr>
                    <th>Output</th>
                    <td>{{sonoffTimers[0].Output}}</td>

                </tr>
                <tr>
                    <th>Action</th>
                    <td>{{sonoffTimers[0].Action}}</td>
                </tr>
            </table>

        </div>

        <div class="debug-item">

            <h5>Timer JSON Off</h5>

            <table class="debug-table">
                <tr>
                    <th>Arm</th>
                    <td>{{sonoffTimers[1].Arm}}</td>
                </tr>

                <tr>
                    <th>Mode</th>
                    <td>{{sonoffTimers[1].Mode}}</td>
                </tr>

                <tr>
                    <th>Time</th>
                    <td>{{sonoffTimers[1].Time}}</td>
                </tr>

                <tr>
                    <th>Window</th>
                    <td>{{sonoffTimers[1].Window}}</td>
                </tr>

                <tr>
                    <th>Days</th>
                    <td>{{sonoffTimers[1].Days}}</td>
                </tr>

                <tr>
                    <th>Repeat</th>
                    <td>{{sonoffTimers[1].Repeat}}</td>
                </tr>

                <tr>
                    <th>Output</th>
                    <td>{{sonoffTimers[1].Output}}</td>

                </tr>
                <tr>
                    <th>Action</th>
                    <td>{{sonoffTimers[1].Action}}</td>
                </tr>
            </table>

        </div>
    </div>
</div>

<!-- Footer -->
<div class="footer"></div>