<!-- Header -->
<div class="header">
    <h1>{{title}}</h1>
</div>

<!-- Main -->
<div class="main">

    <div class="main-icon">
        <div (click)="toggleTimer()">

            <!-- Timer ON -->
            <div *ngIf="globalTimerArm === 1">
                <div class="icon">
                    <img src="../../assets/images/icon/timer/clock-on.svg" alt="">
                </div>
            </div>

            <!-- Timer Off -->
            <div *ngIf="globalTimerArm === 0">
                <div class="icon">
                    <img src="../../assets/images/icon/timer/clock-off.svg" alt="">
                </div>
            </div>

            <p class="timer-status unselectable">{{timerStatus}}</p>
        </div>
    </div>




    <div>
        <div class="row row-timer">
            <!-- Label On -->
            <div class="timer-label"><span class="label unselectable">Einschalten</span></div>


            <!--  Input Power ON -->
            <div class="row-max time">

                <!--  UP -->
                <div class="row timer-up">

                    <!-- hh up-->
                    <div class="step time-hh-up" (click)="stepUpHours('timerOn')">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm up-->
                    <div class="step time-mm-up" (click)="stepUpMinutes('timerOn')">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>
                </div>

                <!-- HH:MM -->
                <div class="row timer-display">
                    <div class="step time-hh unselectable">{{timer.timerOn.h | number:'2.0'}}</div>
                    <div class="time-divider unselectable">:</div>
                    <div class="step time-mm unselectable">{{timer.timerOn.m | number:'2.0'}}</div>

                </div>

                <!--  Down -->
                <div class="row timer-down">

                    <!-- hh down -->
                    <div class="step time-hh-down" (click)="stepDownHours('timerOn')">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm down -->
                    <div class="step time-mm-down" (click)="stepDownMinutes('timerOn')">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>
                </div>

            </div>

        </div>


        <div class="row row-timer">
            <!-- Label Power Off  -->
            <div class="timer-label"><span class="label unselectable">Ausschalten</span></div>


            <!--  Input Power Off -->
            <div class="row-max time">

                <!--  UP -->
                <div class="row timer-up">

                    <!-- hh up-->
                    <div class="step time-hh-up" (click)="stepUpHours('timerOff')">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm up-->
                    <div class="step time-mm-up" (click)="stepUpMinutes('timerOff')">
                        <fa-icon [icon]="iconStepUp"></fa-icon>
                    </div>
                </div>

                <!-- HH:MM -->
                <div class="row timer-display">
                    <div class="step time-hh unselectable" >{{timer.timerOff.h | number:'2.0'}}</div>
                    <div class="time-divider unselectable">:</div>
                    <div class="step time-mm unselectable">{{timer.timerOff.m | number:'2.0'}}</div>

                </div>

                <!--  Down -->
                <div class="row timer-down">

                    <!-- hh down -->
                    <div class="step time-hh-down" (click)="stepDownHours('timerOff')">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>

                    <!-- Divider -->
                    <div class="time-divider"></div>

                    <!-- mm down -->
                    <div class="step time-mm-down" (click)="stepDownMinutes('timerOff')">
                        <fa-icon [icon]="iconStepDown"></fa-icon>
                    </div>
                </div>

            </div>


        </div>

        <!-- Save and Cancel -->
        <div class="row-max save-cancel-container" [class.active]="edit">

            <div class="row">
                <!-- cancel -->
                <div class="cancel" (click)="cancel()">
                    <fa-icon [icon]="iconCancel"></fa-icon>
                </div>

                <!-- save -->
                <div class="save" (click)="save()">
                    <fa-icon [icon]="iconSave"></fa-icon>
                </div>
            </div>
        </div>

    </div>




    <!-- Debug -->
    <div class="debug" [class.active]="debug">

        <div class="row">
            <div class="debug-item">

                <h5>Timer JSON ON</h5>

                <table class="debug-table">
                    <tr>
                        <th>Arm</th>
                        <td>{{sonoffTimers[0].Arm}}</td>
                    </tr>

                    <tr>
                        <th>Mode</th>
                        <td>{{sonoffTimers[0].Mode}}</td>
                    </tr>

                    <tr>
                        <th>Time</th>
                        <td>{{sonoffTimers[0].Time}}</td>
                    </tr>

                    <tr>
                        <th>Window</th>
                        <td>{{sonoffTimers[0].Window}}</td>
                    </tr>

                    <tr>
                        <th>Days</th>
                        <td>{{sonoffTimers[0].Days}}</td>
                    </tr>

                    <tr>
                        <th>Repeat</th>
                        <td>{{sonoffTimers[0].Repeat}}</td>
                    </tr>

                    <tr>
                        <th>Output</th>
                        <td>{{sonoffTimers[0].Output}}</td>

                    </tr>
                    <tr>
                        <th>Action</th>
                        <td>{{sonoffTimers[0].Action}}</td>
                    </tr>
                </table>

            </div>

            <div class="debug-item">

                <h5>Timer JSON Off</h5>

                <table class="debug-table">
                    <tr>
                        <th>Arm</th>
                        <td>{{sonoffTimers[1].Arm}}</td>
                    </tr>

                    <tr>
                        <th>Mode</th>
                        <td>{{sonoffTimers[1].Mode}}</td>
                    </tr>

                    <tr>
                        <th>Time</th>
                        <td>{{sonoffTimers[1].Time}}</td>
                    </tr>

                    <tr>
                        <th>Window</th>
                        <td>{{sonoffTimers[1].Window}}</td>
                    </tr>

                    <tr>
                        <th>Days</th>
                        <td>{{sonoffTimers[1].Days}}</td>
                    </tr>

                    <tr>
                        <th>Repeat</th>
                        <td>{{sonoffTimers[1].Repeat}}</td>
                    </tr>

                    <tr>
                        <th>Output</th>
                        <td>{{sonoffTimers[1].Output}}</td>

                    </tr>
                    <tr>
                        <th>Action</th>
                        <td>{{sonoffTimers[1].Action}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer"></div>
