@import "./../../colors";



.row {
  display: flex;
  margin: 20px;
}

input,
.time {
  font-size: 25px;
  letter-spacing: 0.1em;
}


.container-edit {
  display: none;

  &.show {
    display: inline;
  }
}

.container-display {
  display: block;

  &.hide {
    display: none;
  }
}


.timer-label {
  width: 150px;
}

.container-save {
  display: none;

  &.show {
    display: inline;
  }
}

.container-save {
  display: none;
  width: 100%;
  text-align: center;

  &.show {
    display: block;
  }
}


input {
  background-color: transparent;
  border: 0;
  color: $color-accent;
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}