@import "colors";
@import "~ng-pick-datetime/assets/style/picker.min.css";


* {
  margin: 0;
}

html, body {

}


html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: $color-background;
  color: white;

}

h1, h2, h3, h4, h5, p, a, div {
  font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none;
}

ul, li {
  font-family: 'Roboto', sans-serif;

}

header {
  background-color: $color-block;

}

main {
  padding: 20px;
}


footer {
  background-color: $color-block;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.footer {

}

.header {
  display: none;
  text-align: center;
  margin-top: 20px;

  h1 {
    font-weight: lighter;
    font-size: 15px;
  }
}

.offline {
  opacity: 0.3;
}

.icon {
  display: inline-block;
  width: 76px;
  height: 76px;

  img {
    width: 100%;
    height: 100%;
  }

  &.medium {
    width: 50px;
    height: 50px;
  }

  &.small {
    width: 25px;
    height: 25px;
  }

}


.label {
  font-size: 20px;
  color: $color-font-label;
  text-align: center;
  font-weight: 300;
}

.main-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 20px;
}


// DEBUG
// ====================

.debug {
  display: none;
  // background-color: #fabac9;

  justify-content: space-around;


  h5 {
    color: gray;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
  }
}

.debug-item {
  border: 1px solid silver;
  padding: 10px;
  margin: 20px;

}

.debug-table {
  th {
    text-align: left;
    padding-right: 20px;
  }
}

.debug.active {
  display: flex;
}


